{% load static %}

{% block content %}
<div class="profile-container">
    <div class="profile-info">
        <img src="{{ user.profile.avatar.url }}" alt="Аватар" class="profile-avatar">
        <h1>Профиль {{ user.username }}</h1>
        <p><strong>Имя:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>

        <h2 class="section-title">Дополнительная информация:</h2>
        <p><strong>Дата создания профиля:</strong> {{ profile.created_at }}</p>
        <p><strong>Биография:</strong> {{ profile.bio }}</p>
        <p><strong>Дата рождения:</strong> {{ profile.birth_date }}</p>
        <p>
            {% if user.profile.is_online %}
                🟢 Онлайн
            {% else %}
                🔴 Офлайн (последний визит: {{ user.profile.last_seen|date:"d.m.Y H:i" }})
            {% endif %}
        </p>
    </div>

    <div class="buttons">
        <a href="/" class="btn btn-secondary">На главную</a>
        {% if request.user == user %}
            <a href="{% url 'edit_profile' username=user.username %}" class="btn btn-primary">Редактировать профиль</a>
            <a href="{% url 'create_post' %}" class="btn btn-success">Создать публикацию</a>
            <a href="{% url 'create_poll' %}" class="btn btn-success">Создать голосование</a> 
            <a href="{% url 'friends_list' %}" class="btn btn-success">My Friends</a>
        {% else %}
            {% if user in request.user.profile.friends.all %}
                <a href="{% url 'remove_friend' user.id %}" class="btn btn-danger">Удалить из друзей</a>
            {% elif sent_request_exists %}
                <span class="text-muted">Запрос отправлен</span>
            {% else %}
                <a href="{% url 'send_friend_request' user.id %}" class="btn btn-primary">Добавить в друзья</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="profile-container">
        {% if user != request.user %}
            <div class="buttons">
                {% if is_following %}
                    <a href="{% url 'unfollow_user' user.id %}" class="btn" style="background-color: #f44336;">Unfollow</a>
                {% else %}
                    <a href="{% url 'follow_user' user.id %}" class="btn" style="background-color: #4CAF50;">Follow</a>
                {% endif %}
            </div>
        {% endif %}
    
        <div class="buttons">
            <a href="{% url 'followers_list' user.id %}" class="btn" style="background-color: #2196F3;">Подписчики</a>
            <a href="{% url 'following_list' user.id %}" class="btn" style="background-color: #2196F3;">Подписки</a>
        </div>
    </div>
    
    

    {% if request.user == user %}
    <h2 class="section-title">Входящие запросы в друзья</h2>
    {% for req in request.user.received_requests.all %}
        <div class="request">
            <p>Запрос от {{ req.from_user.username }}</p>
            <button class="btn btn-success accept-btn" data-request-id="{{ req.id }}" data-request-url="{% url 'accept_friend_request' req.id %}">Принять</button>
            <button class="btn btn-danger decline-btn" data-request-id="{{ req.id }}" data-request-url="{% url 'decline_friend_request' req.id %}">Отклонить</button>
        </div>
    {% endfor %}
    {% endif %}

    <h2 class="section-title">Мои опросы</h2>
    <ul class="poll-list">
        {% for poll in user.polls.all %}
            <li>
                <center><a href="{% url 'poll_detail' poll.id %}" class="poll-link">{{ poll.question }}</a></center> <!-- Ссылка на детальную страницу опроса -->
            </li>
        {% endfor %}
    </ul>

    <h2 class="section-title">Публикации</h2>
    {% for post in user.posts.all %}
        <div class="post">
            <p class="post-title"><strong>{{ post.author.username }}</strong> ({{ post.created_at|date:"d.m.Y H:i" }})</p>
            <p class="post-content">{{ post.content }}</p>

            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Изображение поста" class="post-image">
            {% endif %}

            {% if request.user == post.author %}
                <form action="{% url 'delete_post' post.id %}" method="post" class="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            {% endif %}

            <div class="like-section">
                <form method="post" action="{% url 'post-like-toggle' post.id %}" class="like-form" id="like-form-{{ post.id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm {% if request.user in post.post_likes.all %}btn-success{% else %}btn-outline-success{% endif %}" id="like-btn-{{ post.id }}">
                        Лайк {{ post.post_likes.count }}
                    </button>
                </form>
            </div>

            <div class="comment-actions">
                <button id="toggle-comments-btn-{{ post.id }}" class="btn btn-info" onclick="toggleComments({{ post.id }})">Показать комментарии</button>
                <form method="post" action="{% url 'post_detail' post.id %}" class="comment-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Добавить комментарий</button>
                </form>
            </div>

            <div id="comments-section-{{ post.id }}" style="display:none;">
                {% for comment in post.comments.all %}
                    <div class="comment">
                        <p><strong>{{ comment.author.username }}</strong> ({{ comment.created_at|date:"d.m.Y H:i" }})</p>
                        <p>{{ comment.content }}</p>
            
                        <form action="{% url 'comment-like-toggle' comment.id %}" method="post" class="like-form" id="like-form-{{ comment.id }}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm {% if request.user in comment.comment_likes.all %}btn-success{% else %}btn-outline-success{% endif %}" id="like-btn-{{ comment.id }}">
                                Лайк {{ comment.comment_likes.count }}
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    function toggleComments(postId) {
        const commentsContainer = document.getElementById(`comments-section-${postId}`);
        const toggleButton = document.getElementById(`toggle-comments-btn-${postId}`);
        
        if (commentsContainer.style.display === "none") {
            commentsContainer.style.display = "block";
            toggleButton.textContent = "Скрыть комментарии";
        } else {
            commentsContainer.style.display = "none";
            toggleButton.textContent = "Показать комментарии";
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value || '';

    function sendFriendRequest(button) {
        fetch(button.dataset.requestUrl, {
            method: 'GET',
            headers: { 'X-CSRFToken': csrfToken }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                button.textContent = button.classList.contains('accept-btn') ? "Запрос принят" : "Запрос отклонён";
                button.disabled = true;
            } else {
                alert("Ошибка при обработке запроса");
            }
        })
        .catch(error => console.error("Ошибка при обработке запроса:", error));
    }

    document.querySelectorAll('.accept-btn, .decline-btn').forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault();
            sendFriendRequest(this);
        });
    });
});


</script>

{% endblock %}

<style>
    body {
        background-color: #f2f2f2;
        color: #333;
        font-family: Arial, sans-serif;
    }

    .profile-container {
        width: 80%;
        max-width: 1000px;
        margin: 20px auto;
        padding: 20px;
        background: #2e2e2e;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .profile-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #4CAF50;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2.5rem;
        color: #f1f1f1;
        margin-bottom: 20px;
        text-align: center;
    }

    h2.section-title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #fff;
        margin-top: 30px;
        text-align: center;
    }

    p {
        color: #d1d1d1;
        font-size: 1.2rem;
        margin: 5px 0;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btn {
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        color: white;
        background-color: #4CAF50;
        border: none;
    }

    .btn:hover {
        background-color: #45a049;
    }

    .post {
        background-color: #fff;
        padding: 15px;
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .post-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    .post-content {
        font-size: 1.2rem;
        color: #444;
        margin-bottom: 20px;
    }

    .post img {
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    .like-section, .comment-actions {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }

    .comment {
        background-color: #fafafa;
        padding: 10px;
        border-radius: 8px;
        margin-top: 10px;
    }

    .poll-list {
        padding-left: 0;
        list-style-type: none;
        margin-top: 10px;
    }

    .poll-link {
        color: #4CAF50;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .poll-link:hover {
        text-decoration: underline;
    }
</style>
